.lookup-productos-container{
  width: calc(100% - 90px);
}
#label_productos{
  display: block;
}

#btn_buscarProductos {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn-Azulsiman{
  background-color: #0058A8;
  color: #FFFFFF;
  margin-top: 25px;
}

.no-margin{
  margin: 0!important;
}

.btn-Azulsiman:hover{
  box-shadow: 0 14px 26px -12px rgb(0 88 168 / 42%), 0 4px 23px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 88 168 / 20%);
}
