::ng-deep .widget-container {
  margin-right: 320px;
}
::ng-deep .content h4 {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 18px;
}
::ng-deep .content {
  margin-top: 50px;
  margin-left: 10px;
}
::ng-deep .selected-item {
  margin-bottom: 20px;
}
::ng-deep #selected-files {
  display: none;
}
::ng-deep .options {
  padding: 20px;
  background-color: rgba(191, 191, 191, 0.15);
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 260px;
}
::ng-deep .caption {
  font-size: 18px;
  font-weight: 500;
}
::ng-deep .option {
  margin-top: 10px;
}

.satisfecho-insatisfecho {
  min-width: 50%;
  max-width: 50%;
}

.imagen {
  display: block;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.imagen-seleccionar {
  border: solid 1px #4ab805;
  margin: 10px;
}
.imagen-seleccionada {
  box-shadow: 0px 12px 22px 1px rgb(123, 123, 151);
}
.contenido-izquierdo {
  border-right: 1px solid rgb(195, 195, 195);
}

.mt-2rem {
  margin-top: 2.5rem;
}

.mt-1rem {
  margin-top: 1rem !important;
}

.espacio-lados-sm {
  padding-left: 28px;
  padding-right: 28px;
}
