<dx-popup class="popup" [width]="600" [height]="530" [showTitle]="false" title="Tag" [dragEnabled]="false" [closeOnOutsideClick]="false"
  [(visible)]="visible">
  <div *dxTemplate="let data of 'content'">
    <div>
      <div class=" form-group__inline " style="width: calc(100% - 90px);">
        <label>Búsqueda de productos</label>
        <dx-text-box #txtDescripcion [(value)]="txtDescripcionValue" required [maxLength]="50">
        </dx-text-box>
      </div>

      <div class="form-group form-group__inline" style="margin-top: 0px;">
        <button type="button" (click)="buscar(txtDescripcionValue)" class="btn btn-fill btn-Azulsiman form-group__inline-btn">Buscar</button>
      </div>
    </div>
    <div>
      <dx-check-box
        text = "Seleccionar todos"
        [(value)]="seleccionarTodos"
        (onValueChanged)="seleccionarTodosLosProductos()">
      </dx-check-box>
    </div>
    <div class="row" style="margin-top:10px">
      <div class="col-md-12">
        <div class="dx-border-grid" style="min-height:342px">
          <dx-data-grid id="gridContainer" [rowAlternationEnabled]="true" [dataSource]="dataSource" [showColumnLines]="false" rowTemplate="rowTemplateProducto">
            <dxo-filter-row [visible]="true"> </dxo-filter-row>
            <dxo-scrolling mode="virtual"></dxo-scrolling>
            <dxi-column caption="Código" [width]="100" dataField="id"></dxi-column>
            <dxi-column caption="Producto" dataField="descripcion"></dxi-column>
            <dxi-column caption="Agregar" [width]="70"></dxi-column>

            <tbody *dxTemplate="let producto of 'rowTemplateProducto'">
              <tr class="dx-row  grid-row_border">
                <td>
                  {{producto.data.id}}
                </td>
                <td>
                  {{producto.data.descripcion}}
                </td>
                <td>
                  <div class="dx-field-value">
                    <dx-check-box style="margin:0;" (onValueChanged)="onValueChanged(producto.data)" [(value)]="producto.data.esSeleccionado"></dx-check-box>
                  </div>
                </td>
              </tr>
            </tbody>

          </dx-data-grid>
        </div>

        <button [disabled]="loadingVisible" class="btn btn-fill btn-Azulsiman" (click)="agregar(dataSource);">
          Agregar
        </button>

        <button [disabled]="loadingVisible" class="btn btn-fill btn-danger" (click)="cancelar()">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</dx-popup>


<dx-load-panel #loadPanel shadingColor="rgba(0,0,0,0.4)" [position]="{ of: '#gridContainer' }" [(visible)]="loadingVisible"
  [showIndicator]="true" [showPane]="true" [shading]="true" [closeOnOutsideClick]="false">
</dx-load-panel>
