<div class="main-content">

  <div class="container">
    <div class="row">
      <div class="row" style="margin-left: 25%; margin-top: 10%; text-justify: kashida">
        <div class="col-md-8 col-xs-7">
          <h2>
            <strong>DESARROLLO DE PRODUCTOS</strong>
          </h2>
        </div>
      </div>
      <div class="divImg">
        <div class="row">
          <div class="col-md-8 col-xs-6">

            <img src="../../../../../assets/img/desarrollo1.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>