<li routerLinkActive="active" [ngClass]="{'hide': !item.visible}">

  <a data-toggle="collapse" *ngIf="item.subMenu.length == 0">
    <i class="{{item.icon}}">{{item.iconName}}</i>
    <p>{{item.title}}
    </p>
  </a>

  <a data-toggle="collapse" href="{{collapseId}}" *ngIf="item.subMenu.length > 0">
    <i class="{{item.icon}}">{{item.iconName}}</i>
    <p>{{item.title}}
      <b class="caret"></b>
    </p>
  </a>

  <div class="collapse" id="{{collapseId}}" *ngIf="item.subMenu.length > 0">
    <ul class="nav">
      <li routerLinkActive="active" [ngClass]="{'hide': !itemSubMenu.visible}" *ngFor="let itemSubMenu of item.subMenu; let itemSubMenuIndex = index">
        <a data-toggle="collapse" *ngIf="item.subMenu.length == 0">
          <i class="{{item.icon}}">{{item.iconName}} </i>
          <p>{{item.title}}
          </p>
        </a>
      </li>
    </ul>
  </div>
</li>
