<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div
            class="card-header card-header-icon"
            data-background-color="green"
          >
            <i class="material-icons">email</i>
          </div>
          <div class="card-content">
            <h4 class="card-title">Envío De Compra Por Correo</h4>
          </div>
          <div class="card-content">
            <div class="row">
              <div class="col-md-12">
                <dx-data-grid
                  #dgDistribuidores
                  [dataSource]="distribuidores"
                  keyExpr="id"
                  [showBorders]="true"
                  [showRowLines]="true"
                  [showColumnLines]="true"
                  [rowAlternationEnabled]="true"
                  [allowColumnResizing]="true"
                >
                  <dxo-paging [pageSize]="10"> </dxo-paging>
                  <dxo-pager
                    [showPageSizeSelector]="true"
                    [allowedPageSizes]="[10, 25, 50, 100]"
                    [showInfo]="true"
                  ></dxo-pager>
                  <dxo-filter-row [visible]="true"> </dxo-filter-row>
                  <dxi-column
                    dataField="id"
                    caption="Id"
                    [width]="80"
                  ></dxi-column>
                  <dxi-column
                    dataField="nombre"
                    caption="Distribuidor"
                    alignment="left"
                  ></dxi-column>
                  <dxi-column
                    dataField="email"
                    caption="Email"
                    alignment="left"
                  ></dxi-column>
                  <dxi-column
                    dataField="enviarCorreoDeCompra"
                    caption="Enviar Correo De Compra"
                  ></dxi-column>
                  <dxi-column
                    caption="Acciones"
                    cellTemplate="accionTemplate"
                    alignment="center"
                    [width]="100"
                  ></dxi-column>
                  <div *dxTemplate="let accion of 'accionTemplate'">
                    <button
                      rel="tooltip"
                      type="button"
                      class="btn btn-grid btn-Azulsiman"
                      (click)="cosultarDistribuidorPorId(accion.data)"
                    >
                      <i class="material-icons">edit</i>
                    </button>
                  </div>
                </dx-data-grid>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-popup-distribuidor
  [esPopupModificarDistribuidorVisible]="esPopupModificarDistribuidorVisible"
  [distribuidor]="distribuidorPorId"
  (cerrarModal)="onCerrarModal()"
></app-popup-distribuidor>
