<dx-popup
  class="popup"
  [width]="540"
  [height]="315"
  [showTitle]="true"
  [title]="tituloModal"
  [dragEnabled]="true"
  [closeOnOutsideClick]="false"
  [showCloseButton]="true"
  [visible]="Mostrar"
  [resizeEnabled]="true"
  (onHiding)="OnCerrarModal($event)"
>
  <div *dxTemplate="let data of 'content'">
    <dx-scroll-view
      #scrollViewContent
      id="scrollViewContent"
      scrollByContent="true"
      showScrollbar="always"
    >
      <dx-form
        id="form"
        [formData]="parametroGrupo"
        labelLocation="top"
        (onContentReady)="ocultarLoader()"
        (onInitialized)="mostrarLoader()"
        [showValidationSummary]="true"
        validationGroup="parametroGrupoGroup"
      >
        <dxi-item itemType="group" [colCount]="12">
          <dxi-item itemType="group" id="GrupoDatos" [colSpan]="12">
            <dxi-item dataField="nombre">
              <dxi-validation-rule
                type="required"
                message="Dato requerido"
              ></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="activo">
            </dxi-item>
          </dxi-item>
        </dxi-item>
      </dx-form>
      <div class="btn-contenedor float-right">
        <div class="btn-item">
          <dx-button
            *ngIf="esModoEditar === false"
            text="Guardar"
            type="default"
            [useSubmitBehavior]="true"
            validationGroup="parametroGrupoGroup"
            (onClick)="GuardarParametroGrupo($event)"
          >
          </dx-button>
          <dx-button
            *ngIf="esModoEditar"
            text="Editar"
            type="default"
            [useSubmitBehavior]="true"
            validationGroup="parametroGrupoGroup"
            (onClick)="EditarparametroGrupo($event)"
          >
          </dx-button>
        </div>
      </div>
    </dx-scroll-view>
  </div>
</dx-popup>
