<div class="main-content">

  <div class="container-flui">

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-icon" data-background-color="red">
            <i class="material-icons">contacts</i>
          </div>

          <div class="card-content">
            <h4 class="card-title">Administración de colonias</h4>

            <form [formGroup]="formGroupColonia">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Ciudad:</label>
                    <dx-lookup formControlName="ciudad" [dataSource]="ciudades" displayExpr="descripcion" valueExpr="id"
                      [showClearButton]="true" [searchEnabled]="true">
                    </dx-lookup>
                  </div>
                  <div class="form-group">
                    <button class="btn btn-Azulsiman" type="button" (click)="cargarColoniasDeCiudad()">
                      Mostrar
                      <div class="ripple-container"></div>
                    </button>
                    <button *ngIf="colonias.length > 0 && !agregandoColonia" type="button"
                      class="btn btn-Azulsiman btn-round" (click)="nuevaColonia()">
                      <i class="material-icons">add</i>Nueva colonia
                      <div class="ripple-container"></div>
                    </button>
                  </div>
                </div>
              </div>

              <div class="row" *ngIf="agregandoColonia">
                <div class="col-md-4">
                  <div class="form-group is-empty label-floating">
                    <label class="control-label">Nombre:</label>
                    <input class="form-control" formControlName="nombre" />
                  </div>
                  <div class="form-group">
                    <dx-check-box formControlName="esSad" text="Es SAD">
                    </dx-check-box>
                  </div>
                  <div>
                    <button type="button" class="btn btn-Azulsiman btn-round"
                      (click)="guardarColonia()">
                      Agregar
                      <div class="ripple-container"></div>
                    </button>

                    <button type="button" class="btn btn-round" (click)="cancelarNuevaColonia()">
                      Cancelar
                      <div class="ripple-container"></div>
                    </button>
                  </div>
                </div>
              </div>
            </form>

            <dx-data-grid [showBorders]="true" (onRowUpdated)="onColoniaRowUpdated($event)"
              [rowAlternationEnabled]="true" [dataSource]="colonias">
              <dxo-editing mode="form" [allowUpdating]="true">
                <dxo-texts editRow="Editar" saveRow="Guardar">
                </dxo-texts>
              </dxo-editing>
              <dxo-filter-row [visible]="true"> </dxo-filter-row>

              <dxo-header-filter [visible]="true"></dxo-header-filter>
              <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>
              <dxi-column [allowEditing]="false" caption="Código" dataField="id" [width]="80"> </dxi-column>
              <dxi-column [allowEditing]="false" caption="Nombre" dataField="nombre"> </dxi-column>
              <dxi-column [allowEditing]="false" caption="Ciudad" dataField="ciudad"> </dxi-column>
              <dxi-column [dataType]="'boolean'" caption="Es SAD" dataField="sad" [width]="200"></dxi-column>
              <dxi-column [dataType]="'boolean'" caption="Activa" dataField="activa" [width]="200"></dxi-column>

              <dxo-paging [pageSize]="10" [pageIndex]="1">
              </dxo-paging>
              <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 25, 50, 100]"></dxo-pager>

            </dx-data-grid>

          </div>

        </div>
      </div>
    </div>

  </div>


</div>