<!-- <app-main-loader></app-main-loader> -->
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="green">
                        <i class="material-icons">panorama</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Devolver Productos Remotos</h4>
                    </div>
                    <div class="card-content">

                        <div class="col-md-12">
                            <div class="row">
                                <div class="row">
                                    <div class="col-md-6">
                                        <span class="labelsFormularios">Sucursal:</span>
                                        <dx-select-box #lueSucursal [dataSource]="sucursales" displayExpr="nombreCorto"
                                            valueExpr="codigo" title="Seleccione una Sucursal" [(ngModel)]="sucursalId"
                                            [searchEnabled]="true" placeholder="Seleccione la Sucursal">
                                        </dx-select-box>
                                        <br>
                                        <div style="float:right">
                                            <dx-button type="success" (onClick)="obtenerTrasladosRecibidos()"
                                                type="default" text="Buscar">
                                            </dx-button>
                                        </div>
                                    </div>


                                </div>
                                <br>

                                <br>

                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-12">
                                    <dx-data-grid #grid id="gridAuxiliar" [dataSource]="traslados"
                                        [showColumnLines]="true" [showRowLines]="true" [showBorders]="true"
                                        [columnAutoWidth]="true" [rowAlternationEnabled]="true">
                                        <dxo-filter-row [visible]="true"> </dxo-filter-row>
                                        <dxo-header-filter [visible]="true"></dxo-header-filter>
                                        <dxo-paging [pageSize]="10" [pageIndex]="0"> </dxo-paging>
                                        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20, 50]"
                                            [showNavigationButtons]="true">
                                        </dxo-pager>
                                        <dxo-export [enabled]="true" fileName="Producto_Disponible_Sin_Facturar"
                                            [allowExportSelectedData]="true"></dxo-export>.
                                        <dxi-column caption="Traslado Código" width="70px"
                                            dataField="transaccionInventarioRemotoId" [groupIndex]="0"></dxi-column>
                                        <dxi-column caption="Cod. Producto" dataField="productoId">
                                        </dxi-column>
                                        <dxi-column caption="Nombre Producto" dataField="nombreProducto">
                                        </dxi-column>
                                        <dxi-column caption="Cantidad Disponible" dataField="cantidadDisponible">
                                        </dxi-column>
                                        <dxi-column caption="Fecha Recibido" dataField="fechaRecibida"
                                            cellTemplate="dateCell">
                                        </dxi-column>
                                        <dxi-column caption="Sucursal Envia" dataField="nombreSucursalEnvia">
                                        </dxi-column>

                                        <dxi-column caption="Acciones" cellTemplate="accionTemplate" [width]="100">
                                        </dxi-column>
                                        <dxo-paging [pageSize]="15" [pageIndex]="0"></dxo-paging>
                                        <div *dxTemplate="let cellData of 'dateCell'">
                                            {{cellData.value | date: 'dd/MM/yyyy'}}
                                        </div>
                                        <div *dxTemplate="let d of 'accionTemplate'">

                                            <button rel="tooltip" title="Denegar" (click)="Devolver(d.data)"
                                                type="button" class="btn btn-grid btn-danger ">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </div>
                                    </dx-data-grid>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

            </div>
        </div>
        <br>



        <dx-popup class="popup" [width]="350" [height]="220" [showTitle]="true" title="Cantidad a Devolver"
            [dragEnabled]="true" [closeOnOutsideClick]="false" [showCloseButton]="true" [visible]="mostrarPopup"
            [resizeEnabled]="true">
            <div *dxTemplate="let data of 'content'">
                <dx-scroll-view #scrollViewContent id="scrollViewContent" scrollByContent="true" showScrollbar="always">
                    <span>Producto : {{nombreProductoPopup}}</span>
                    <br/>
                    <span>Ingrese la cantidad a devolver:</span>
                    <br/>
                    <dx-number-box [(ngModel)]="trasladoDevolucion.cantidadDevuelta" min="1"></dx-number-box>
                    <br/>
                    <div class="row">
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                            <dx-button icon="check" type="success" text="Guardar" (onClick)="RegistrarDevolucion()">
                            </dx-button>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                            <dx-button icon="close" type="danger" text="Cerrar" (onClick)="CerrarPopup()">
                            </dx-button>
                        </div>
                    </div>
                </dx-scroll-view>
            </div>
        </dx-popup>



    </div>
    <br>
</div>