.img-sticker {
  height: 70px;
  width: auto;
  border-radius: 10%;
}

.card .card-header {
  padding: 15px 20px 15px;
}

.card .card-header {
  margin: -40px 15px 0;
}

.fa-sticker {
  font-size: 24px !important;
}

.producto-lookup {
  margin-top: 15px !important;
}

.dx-form-validation-summary.dx-validationsummary.dx-widget.dx-collection {
  margin-top: 150px !important;
}

.visible-on-hover {
  visibility: hidden;
}
.visible-on-hover:hover {
  visibility: visible;
}
